[submodule "ralloc"]
	path = ralloc
	url = https://gitlab.redox-os.org/redox-os/ralloc.git
[submodule "core_io"]
	path = core_io
	url = https://gitlab.redox-os.org/redox-os/core_io.git
[submodule "posix-regex"]
	path = posix-regex
	url = https://gitlab.redox-os.org/redox-os/posix-regex.git
[submodule "compiler-builtins"]
	path = compiler-builtins
	url = https://gitlab.redox-os.org/redox-os/compiler-builtins.git
	branch = relibc_fix_dup_symbols
[submodule "src/dlmalloc-rs"]
	path = dlmalloc-rs
	url = https://gitlab.redox-os.org/redox-os/dlmalloc-rs.git
