[submodule "openlibm"]
	path = openlibm
	url = https://gitlab.redox-os.org/redox-os/openlibm.git
[submodule "cbindgen"]
	path = cbindgen
	url = https://gitlab.redox-os.org/redox-os/cbindgen.git
[submodule "ralloc"]
	path = ralloc
	url = https://gitlab.redox-os.org/redox-os/ralloc.git
[submodule "va_list"]
	path = va_list
	url = https://gitlab.redox-os.org/redox-os/va_list-rs.git
