/*.out
/gen/
/alloc
/args
/atof
/atoi
/brk
/chdir
/create
/ctype
/dup
/error
/fchdir
/fcntl
/fsync
/ftruncate
/getid
/getc_unget
/link
/math
/mem
/pipe
/printf
/rmdir
/rename
/scanf
/setid
/setid
/sleep
/sprintf
/stdlib/a64l
/stdlib/bsearch
/stdlib/rand
/stdlib/strtol
/stdlib/strtoul
/stdlib/a64l
/stdio/fwrite
/stdio/all
/stdio/freopen
/string/strchr
/string/strcspn
/string/strncmp
/string/strpbrk
/string/strrchr
/string/strspn
/string/strstr
/string/strtok
/string/strtok_r
/unistd/getopt
/unlink
/waitpid
/write
/time
/gmtime
/asctime
