/*.out
/gen/
/alloc
/args
/atof
/atoi
/brk
/chdir
/create
/ctype
/dup
/error
/fchdir
/fcntl
/fsync
/ftruncate
/getid
/link
/math
/mem
/setid
/sleep
/pipe
/printf
/rmdir
/setid
/sprintf
/stdlib/strtol
/stdlib/a64l
/string/strncmp
/string/strcspn
/string/strchr
/string/strrchr
/string/strspn
/unlink
/write

